body {
    background-color: whitesmoke;
    margin-left: 25px;
    /* background-color: #081130; */
    /* display: flex;
    justify-content: center; */

}


.veryBig {
    border: 1px solid white;

}


.bigPhone {
    padding-right: 0px;
}


.words {
    color: #2E363E;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}



.newBlock {
    display: flex;
    background-color: rgb(2, 2, 43);
    width: 1920px;
}


.smallBlock {
    width: 481px;
    height: 454px;
    margin-top: 109px;
}


.littleBlock1 {
    color: #2E363E;
    background-color: #F2F6FA;
    padding: 10px 18px 10px 18px;
    border-radius: 5px;
    width: 175px;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 24px;

}


.littleBlock2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 24px;
    color: #FFFFFF;
}



.littleBlock3 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    margin-bottom: 24px;
}


.littleBlock4 {
    color: #2E363E;
    background-color: #FED84C;
    /* padding: 30px 50px 30px 50px; */
    height: 88px;
    width: 320px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    border-radius: 8px;
    border: none;

}



.newBlock2 {
    display: flex;
    position: relative;
}


.anotherSmallBlock {
    margin-top: 97px;
    display: grid;
    gap: 30px;
}


.woman {
    margin-top: 50px;
    margin-left: 30px;
    position: absolute;
    z-index: -1;
    left: 520px;

}


.bigName {
    margin-top: 600px;
    margin-left: 20px;
    width: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.firstName {
    color: #FFFFFF;
    background-color: #2E363E;
    transform: skew(-10deg);
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    padding: 15px 0px 15px 0px;
    width: 287px;

}


.profession {
    color: #2E363E;
    background-color: #F2F6FA;
    transform: skew(-10deg);
    text-align: center;
    border-radius: 4px;
    letter-spacing: 10%;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    /* margin-left: 1px; */
    padding-left: 0px;
    width: 220px;
    height: 30px;
    padding-top: 10px;

}

.littleBlock5 {
    color: #2E363E;
    background-color: #F2F6FA;
    padding: 0px 0px 0px 0px;
    width: fit-content;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 10%;
    padding-bottom: 0px;


}


.littleBlock6 {
    color: #2E363E;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    width: 419px;
    height: 180px;
    letter-spacing: -1px;
    margin-bottom: 36px;

}


.littleBlock7 {
    color: #2E363E;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    width: 401px;
    display: flex;
    column-gap: 30px;


}



.tripleBlock1 {
    display: flex;
    gap: 12px;
    width: 389px;
    height: 54px;


}


.tripleBlock2 {
    display: flex;
    gap: 12px;
    width: 389px;
    height: 54px;
}


.tripleBlock3 {
    display: flex;
    gap: 12px;
    width: 389px;
    height: 54px;
}


.bullet {
    margin-top: 5px;
}



.Question {
    color: #2E363E;
    background-color: #FED84C;
    padding: 0px 0px 0px 0px;
    width: 280px;
    height: 78px;
    font-weight: 500;
    font-size: 18px;
    line-height: 102%;
    border: none;
    border-radius: 8px;
}



.allFeedback {
    display: flex;
    margin-top: 150px;
    background-color: rgb(227, 219, 219);
    /* background-color: blue; */
    width: 1180px;
    height: 615px;



}


.feedback {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    background-color: #081130;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    width: 1180px;
    /* width: fit-content; */
}


.twoBlocks {
    padding: 70px 54px 146px 143px;
}


.woman2 {
    margin-top: 50px;
    margin-right: 50px;
}


.result {
    font-weight: 500;
    font-size: 30px;
    line-height: 143%;
    width: 400px;
    margin-bottom: 24px;
}


.longFeedback {
    color: #2E363E;
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    width: 350px;
    height: 179px;
    margin-bottom: 24px;

}


.link {
    color: #4A94FF;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;

}

.dots {
    margin-bottom: 10px;
}


.anothername {
    margin-left: 110px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #2E363E;
}


.city {
    margin-left: 120px;
    color: #A6AEB6;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    margin-left: 135px;

}



.arrows {
    margin-top: 70px;
    margin-left: 500px;
}


.BigOrders {
    margin-left: 240px;
    margin-top: 200px;
}


.orders {
    color: #2E363E;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    width: 938px;
    letter-spacing: -1px;

}


.small {
    color: #2E363E;
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;
    margin-left: 70px;
    width: 715px;
    margin-top: 14px;
    margin-bottom: 100px;

}

.cakes {
    display: grid;
    width: 100px;
    margin-left: 0px;
    gap: 9px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    /*  Почему нижние три картинки не меняют высоту? */
    /* Так устроено */
    /* border: 10px solid black; */
    /* column-gap: 10px; */

}



.block {
    display: grid;
    background-color: #ced7e1;
    margin-top: 100px;
    width: 1180px;
    height: 394px;
    border-radius: 8px;
    margin-left: 200px;

}


/* Visit card */


.block {
    margin-left:100px;
}



.title {
    color: #2E363E;
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    margin-left: 250px;
    padding-top: 70px;
    margin-bottom: 12px;
}


.subtitle {
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    margin-left: 300px;
    color: #2E363E;
    margin-bottom: 1px;

}



.btn1 {
    display: flex;
    align-items: center;
    margin-left: 320px;
    padding: 32px 90px 29px 28px;
    background-color: #F2F6FA;
    border: none;
    border-radius: 8px;
    height: 85px;




}


.phone {
    /* border: 1px solid black; */


}


.phoneNumber {
    color: #7E868E;
    font-weight: 400;
    width: 132px;
    /* height: 24px; */
    font-size: 15px;
    line-height: 160%;
    margin-left: 7px;
    /* border: 1px solid black; */


}



.btn2 {
    padding: 29px 70.5px;
    height: 82px;
    margin-top: 36px;
    background-color: #FED84C;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
    border: none;
    border-radius: 8px;
    /* margin-left: 700px; */
    margin-bottom: 34px;


}


.twoButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 270px;

}



.checkMark {
    display: flex;
    gap: 7px;
    margin-left: 400px;
    cursor: pointer;
    margin-bottom: 10px;
}



.condition {
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    color: #7E868E;
}



/* Cakes */



.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* Тут нужен именно этот columns */
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 100px;
}


.cake1 {
    margin-top: 100px;
    background-color: rgba(225, 217, 217, 0.297);
    width: fit-content;
}


.block1 {
    margin-top: 50px;
    margin-left: 30px;
    /* background-color: rgba(228, 217, 217, 0.571); */
    width: fit-content;
    height: 337px;
    width: 350px;

}


.title1 {
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;


}


.description1 {
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;


}


.price1 {
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;

}


.Btn1 {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #FED84C;
    width: 163px;
    height: 68px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    padding-right: 20px;
    margin-top: 14px;
    margin-right: 500px;
    border: none;
    border-radius: 8px;


}


/* cake2 */

.cake2 {
    margin-top: 100px;
    background-color: rgba(225, 217, 217, 0.297);
    width: fit-content;
}


.block2 {
    margin-top: 50px;
    margin-left: 30px;
    /* background-color: rgba(228, 217, 217, 0.571); */
    width: fit-content;
    height: 337px;
    width: 350px;

}


.title2 {
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;


}


.description2 {
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;


}


.price2 {
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;

}


.Btn2 {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #FED84C;
    width: 163px;
    height: 68px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    padding-right: 20px;
    margin-top: 14px;
    margin-right: 500px;
    border: none;
    border-radius: 8px;


}



/* cake 3 */


.cake3 {
    margin-top: 100px;
    background-color: rgba(225, 217, 217, 0.297);
    width: fit-content;
}


.block3 {
    margin-top: 50px;
    margin-left: 30px;
    /* background-color: rgba(228, 217, 217, 0.571); */
    width: fit-content;
    height: 337px;
    width: 350px;

}


.title3 {
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;


}


.description3 {
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;


}


.price3 {
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;

}


.Btn3 {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #FED84C;
    width: 163px;
    height: 68px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    padding-right: 20px;
    margin-top: 14px;
    margin-right: 500px;
    border: none;
    border-radius: 8px;


}



/* Cake 4 */

.cake4 {
    margin-top: 100px;
    background-color: rgba(225, 217, 217, 0.297);
    width: fit-content;
}


.block4 {
    margin-top: 50px;
    margin-left: 30px;
    /* background-color: rgba(228, 217, 217, 0.571); */
    width: fit-content;
    height: 337px;
    width: 350px;

}


.title4 {
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;


}


.description4 {
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;


}


.price4 {
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;

}


.Btn4 {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #FED84C;
    width: 163px;
    height: 68px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    padding-right: 20px;
    margin-top: 14px;
    margin-right: 500px;
    border: none;
    border-radius: 8px;


}


/* Cake 5 */


.cake5 {
    margin-top: 100px;
    background-color: rgba(225, 217, 217, 0.297);
    width: fit-content;
}


.block5 {
    margin-top: 50px;
    margin-left: 30px;
    /* background-color: rgba(228, 217, 217, 0.571); */
    width: fit-content;
    height: 337px;
    width: 350px;

}


.title5 {
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;


}


.description5 {
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;


}


.price5 {
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;

}


.Btn5 {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #FED84C;
    width: 163px;
    height: 68px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    padding-right: 20px;
    margin-top: 14px;
    margin-right: 500px;
    border: none;
    border-radius: 8px;


}



/* Cake 6 */


.cake6 {
    margin-top: 100px;
    background-color: rgba(225, 217, 217, 0.297);
    width: fit-content;
}


.block6 {
    margin-top: 50px;
    margin-left: 30px;
    /* background-color: rgba(228, 217, 217, 0.571); */
    width: fit-content;
    height: 337px;
    width: 350px;

}


.title6 {
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;


}


.description6 {
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;


}


.price6 {
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;

}


.Btn6 {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #FED84C;
    width: 163px;
    height: 68px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    padding-right: 20px;
    margin-top: 14px;
    margin-right: 500px;
    border: none;
    border-radius: 8px;


}



/* cake 7 */


.cake7 {
    margin-top: 100px;
    background-color: rgba(225, 217, 217, 0.297);
    width: fit-content;
}


.block7 {
    margin-top: 50px;
    margin-left: 30px;
    /* background-color: rgba(228, 217, 217, 0.571); */
    width: fit-content;
    height: 337px;
    width: 350px;

}


.title7 {
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;


}


.description7 {
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;


}


.price7 {
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;

}


.Btn7 {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #FED84C;
    width: 163px;
    height: 68px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    padding-right: 20px;
    margin-top: 14px;
    margin-right: 500px;
    border: none;
    border-radius: 8px;


}


/* cake 8 */


.cake8 {
    margin-top: 100px;
    background-color: rgba(225, 217, 217, 0.297);
    width: fit-content;
}


.block8 {
    margin-top: 50px;
    margin-left: 30px;
    /* background-color: rgba(228, 217, 217, 0.571); */
    width: fit-content;
    height: 337px;
    width: 350px;

}


.title8 {
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;


}


.description8 {
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;


}


.price8 {
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;

}


.Btn8 {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #FED84C;
    width: 163px;
    height: 68px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    padding-right: 20px;
    margin-top: 14px;
    margin-right: 500px;
    border: none;
    border-radius: 8px;


}



/* Cake 9 */



.cake9 {
    margin-top: 100px;
    background-color: rgba(225, 217, 217, 0.297);
    width: fit-content;
}


.block9 {
    margin-top: 50px;
    margin-left: 30px;
    /* background-color: rgba(228, 217, 217, 0.571); */
    width: fit-content;
    height: 337px;
    width: 350px;

}


.title9 {
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;


}


.description9 {
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;


}


.price9 {
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;

}


.Btn9 {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #FED84C;
    width: 163px;
    height: 68px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    padding-right: 20px;
    margin-top: 14px;
    margin-right: 500px;
    border: none;
    border-radius: 8px;


}



.lastBlock {
    display: flex;
    gap: 43px;
    margin-left: 470px;
    margin-top: 122px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    cursor: pointer;
    color: #7E868E;
    

}


.BB {
    margin-left: 535px;
    margin-top: 22px;
    margin-top: 22px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    cursor: pointer;
    color: #7E868E;
}