
.firstSticky {
    position: sticky;
    top: 20px;
    
}



.static {
    position: static;
    background-color: aqua;
    width: 100px;
    height: 50px;
    right: 10px;
    bottom: 10px;
    margin-top: 10px;     /* Почему margin top и margin bottom тут работают если это static?  */
    margin-left: 100px;
    top: 2000px;

}



.relative {
    position: static;
    border: 1px solid black;
    width: fit-content;
}




.secondrelative {
    position: relative;
    /* margin-left: 200px; */
    background-color: beige;
    width: fit-content;
    top: 500px;               /*  Разница между top и margin-top?        top, left, right, bottom связан с position, а margin top и остальные это внешний отступ от других элементов  */
    /* margin-top: 100px; */      /* relative двигаются сами от себя от своего положения */
    /* right: 50px; */
    left: 200px;


}





.container {
    position: relative;
    border: 1px solid black;
    width: 400px;
    height: 200px;
    /* left: 100px; */
} 


.one {
    position: relative;
    left: 130px;     

    
}


.two {
    position: fixed;
   /* left: 500px;  */
   /* bottom: 200px;     */       /*   bottom идет вверх от границы ближайшего контейнера если здесь relative  */
                               
                                 /* почему two накладывается на three когда два absolute?    Потому-что absolute перестает занимать место в разметке  */
}


 .three {
    position: absolute;  
    left: 120px;        
    border: 1px solid black;
    
}  




.block {
    position: fixed;      /* Почему тут двигается все кроме того что в блоке? Потому-что все что в fixed должно оставаться на виду когда есть прокрутка */
    bottom: 100px;
    right: 300px;
} 



