
body {       
    background-color:azure;  /* Почему не меняет цвет фона страницы */
}






.box-px {
    width: 300px;     /* Задаю ширину контейнера */
    height: 300px;    /* Задаю высоту контейнера */
    background-color: aqua;   /* Задаю цвет фона контейнера */
    font-size: 1.5rem;

    
}




.box-px1 {
    width: 100%;
    height: 50%;                /* Почему высота появляется только ниже текста? */
    background-color: brown;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
    font-size: 0.8em;
    overflow: visible;

}


.box-px2 {
    width: 100%;
    height: 20%;
    background-color: blueviolet;
}




.highlight {
    color:#00ff33;
    font-weight: bolder;
    
}

.highlight2 {
    color:rgb(99, 22, 22);
    font-weight: bold;
}


.highlight3 {
    color:rgba(129, 75, 84, 0.644);
    font-weight: bolder;
}


.photo {
    color: rgba(137, 43, 226, 0);
}
